.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.log
.env
*.freezed.dart
*.g.dart
*.gr.dart
.idea/
.vscode/
.DS_Store
android/local.properties
android/.gradle/
ios/Pods/
ios/.symlinks/
